@keyframes shine {
  0% {
    left: -100%;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.gm-style iframe + div {
  pointer-events: none !important;
}
.gm-style iframe + div > div {
  pointer-events: auto !important;
}